:root {
    --color1: #c1b398;
    --color2: #605951;
    --color3: #fbeec2;
    --color4: #61a6ab;
    --color5: #accec0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    font-family: "Convergence", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}

.fondo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -2; 
}

header {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.mifoto {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--color4);
    margin-bottom: 25px;
}

.linkIconos{
    text-decoration: none;
}

.icono{
    width: 55px;
    height: auto;
    margin-top: 15px;
    background-color: white;
    border-radius: 30px;
    margin-right: 10px;
}

h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 25px;
    color: white;
}

nav {
    margin-top: 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    width: 100%;
    max-width: 500px;
}

nav li {
    margin-bottom: 25px;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: var(--color4);
    color: white;
    font-weight: bold;
    padding: 18px 24px;
    border-radius: 30px;
    font-size: 25px;
    transition: background-color 0.3s, transform 0.2s;
}

nav a:hover {
    background-color: var(--color5);
    color: var(--color2);
    transform: scale(1.03);
}

@media (max-width: 767px) {
    body {
    padding: 4rem 3rem;
    }

    .mifoto {
    width: 180px;
    height: 180px;
    }

    h1 {
    font-size: 30px;
    }

    h2 {
    font-size: 20px;
    }

    nav a {
    font-size: 20px;
    padding: 14px 20px;
    }

    .icono{
        width: 50px;
        height: auto;
    }
}